pyrogram
pyrofork==2.3.45
python-dotenv
mediainfo
ffmpeg
ffmpeg-python
aiocron
aiofiles
aiohttp
base58check
dnspython
gitdb
GitPython
motor
mutagen
Pillow
psutil
pykeyboard=
pyromod
requests
TgCrypto
unzip-http
